<!DOCTYPE html>
<html lang="en">
<head>
    <?php include __DIR__ . '/partials/head.html'; ?>
    <title>Register</title>
    <script src="/public/scripts/validate.js" defer></script>
</head>
<body>
    <div class="container">
        <form method="POST" action="/register">
            <h1>REGISTER FORM</h1>

            <?php if(isset($messages)): ?>
                <div class="messages">
                    <?php foreach($messages as $message): ?>
                        <p style="color: red;"><?= $message; ?></p>
                    <?php endforeach; ?>
                </div>
            <?php endif; ?>

            <input name="username" type="text" placeholder="Nazwa użytkownika" required />
            
            <input name="email" type="email" placeholder="Twój email" required />
            
            <input name="password" type="password" placeholder="Twoje hasło" required />
            <input name="password2" type="password" placeholder="Powtórz hasło" required />
            
            <input type="hidden" name="returnUrl" id="returnUrl" value="" />
            
            <button type="submit">REGISTER</button>
        </form>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const params = new URLSearchParams(window.location.search);
            const returnUrl = params.get('returnUrl');
            if (returnUrl) {
                document.getElementById('returnUrl').value = returnUrl;
            }
        });
    </script>
</body>
</html>