<nav>
  <div class="container">
    <span class="logo"><i class="fa-solid fa-calculator"></i> MaturaMat</span>

    <ul>
      <li>
        <a href="/index"><i class="fa-solid fa-house"></i> HOME</a>
      </li>

      <?php if (isset($_SESSION['user_id'])): ?>
        <li>
          <a href="/dashboard"><i class="fa-solid fa-chart-line"></i> MOJE POSTĘPY</a>
        </li>
        <li>
          <a href="/logout"><i class="fa-solid fa-arrow-right-from-bracket"></i> WYLOGUJ</a>
        </li>
      <?php else: ?>
        <li>
          <a href="/login"><i class="fa-solid fa-user"></i> LOGOWANIE</a>
        </li>
      <?php endif; ?>
    </ul>
  </div>
</nav>